html,
body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    display:flex;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin input[type="text"] {
    margin-bottom: 6px;
    border-radius: 12px;
}

.form-signin input[type="email"] {
    margin-bottom: 6px;
    border-radius: 12px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 12px;
}

.form-signin .g-recaptcha {
    margin-bottom: 10px;
}

svg {
    width:72px;
    height:72px;
}

path{
    color:#198754;
}

.has-asterisk > label::after{
    padding-left: 5px;
    content: "*";
    color:red;
}

.form-send {
    width: 100%;
    max-width: 660px;
    padding: 15px;
    margin: auto;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

:invalid{
    color:red;
}