<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firm</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet"  th:href="@{/css/w3.css}">
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <style>
        .container{
            width:30%;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <form method="post" th:action="@{/add_firm}" th:object = "${firm}">
        <div class="mb-3">
            <label for="name" class="form-label">Firm</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <button type="submit" class="btn btn-primary">Add firm</button>
        <button type="reset" class="btn btn-secondary" value="Reset">Reset</button>
    </form>
</div>
</body>
</html>