<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smartphone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container mt-5" style="width: 30%">
    <h3>Add smartphone</h3>
    <form method="post" th:action="@{/save_smart}" th:object="${smart}">
    <div class="mb-3">
        <label for="name" class="form-label">Model</label>
        <input type="text" class="form-control" id="name" th:field="*{name}">
        <label for="firm" class="form-label">Firm</label>
        <select class="form-select" aria-label="Firms" id="firm" name="firm">
            <option></option>
            <th:block th:each="firm:${firms}">
                <option th:utext="${firm.name}" th:value="${firm.id}"></option>
            </th:block>
        </select>
        <label for="os" class="form-label">Operating systems</label>
        <select class="form-select" aria-label="Os" id="os" name="os">
            <option></option>
            <th:block th:each="os1:${os}">
                <option th:utext="|${os1.name}-${os1.developer}|" th:value="${os1.id}"></option>
            </th:block>
        </select>
        <label for="size" class="form-label">Size</label>
        <input type="number" class="form-control" id="size" th:field="*{size}">
        <label class="form-label">Color</label>

        <div class="container mb-3">
            <input type="radio" name="color" id="red" value="#DB2828"/>
            <label for="red" class="color"><span class="red"></span> </label>
            <input type="radio" name="color" id="black" value="#000000"/>
            <label for="black" class="color"><span class="black"></span> </label>
            <input type="radio" name="color" id="green" value="#21BA45"/>
            <label for="green" class="color"><span class="green"></span> </label>

        </div>
    </div>
        <button type="submit" class="btn btn-primary">Add smartphone</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
</div>
</body>
</html>